.non-show-image {
  height: 160px;
  width: 200px;
  margin: 70px;
  transition: height 1s ease;
  z-index: 0;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -ms-transition: height 1s ease;
  -o-transition: height 1s ease;
}

.non-show-image:hover {
  height: 180px;
  z-index: 100;
}

.title {
  font-size: 2em;
  transition: color 1s ease;
  -webkit-transition: color 1s ease;
  -moz-transition: color 1s ease;
  -ms-transition: color 1s ease;
  -o-transition: color 1s ease;
}

.title:hover {
  color: aliceblue;
}

li {
  list-style-type: none;
}

#pictures-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#pictures-home li {
  text-align: center;
}
